/*
## Layout
- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary
Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral
Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy
- Font size: 15px

### Font
- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 400, 500, 700 */

:root {
  --color-primary-dark: hsl(300, 43%, 22%);
  --color-primary-soft: hsl(333, 80%, 67%);

  --color-neutral-dark: hsl(303, 10%, 53%);
  --color-neutral-light: hsl(300, 24%, 96%);
  --color-neutral-white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Debugging borders only */
  outline: 2px solid hsla(111, 37%, 79%, 0.4) !important;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  line-height: 1;
  color: var(--color-neutral-dark);
  background-color: var(--color-neutral-white);
  font-weight: 400;
}

.icon {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
}

/* Text box section styles */

.text-box-container {
  background-color: yellow;
}

.text-box-heading {
  color: var(--color-primary-dark);
  letter-spacing: -1.5px;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.text-box-description {
  font-size: 1rem;
}

/* Featured-in styling */

.featured-in-container {
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.featured-in {
  background-color: var(--color-neutral-light);
  color: var(--color-primary-dark);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 30rem;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 2rem;
}

.featured-in:nth-child(1) {
  align-self: flex-start;
}

.featured-in:nth-child(2) {
  align-self: center;
}

.featured-in:nth-child(3) {
  align-self: flex-end;
}


.featured-in-rating {
  display: flex;
  align-items: center;
}