/*
## Layout
- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary
Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral
Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy
- Font size: 15px

### Font
- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 400, 500, 700 */

:root {
  --color-primary-dark: hsl(300, 43%, 22%);
  --color-primary-soft: hsl(333, 80%, 67%);

  --color-neutral-dark: hsl(303, 10%, 53%);
  --color-neutral-light: hsl(300, 24%, 96%);
  --color-neutral-white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Debugging borders only */
  /* outline: 2px solid hsla(111, 37%, 79%, 0.4) !important; */
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  line-height: 1;
  color: var(--color-neutral-dark);
  background-color: var(--color-neutral-white);
  font-weight: 400;
}

.icon {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
}

.content {
  background: url("/images/bg-pattern-top-desktop.svg") left top
      no-repeat,
    url("/images/bg-pattern-bottom-desktop.svg") right bottom
      no-repeat;
}

/* Section grid styles */
.section-social-proof {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  row-gap: 6rem;
  column-gap: 2rem;
  padding: 12rem 5rem 8rem 5rem;
  max-width: 130rem;
  margin: 0 auto;
}

/* Text box section styles */

.text-box-container {
  display: flex;
  flex-direction: column;
}

.text-box-heading {
  color: var(--color-primary-dark);
  letter-spacing: -1.5px;
  font-weight: 700;
  font-size: 5.5rem;
  margin-bottom: 1.5rem;
  max-width: 12ch;
}

.text-box-description {
  font-size: 2rem;
  max-width: 40ch;
  line-height: 1.2;
  /* font-weight: 500; */
}

/* Featured-in styling */

.featured-in-container {
  justify-self: start;
  width: 100%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.featured-in {
  background-color: var(--color-neutral-light);
  color: var(--color-primary-dark);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  max-width: 50rem;
  width: 100%;
  border-radius: 5px;
  padding: 2rem 3rem;
}

.featured-in:nth-child(1) {
  align-self: flex-start;
}

.featured-in:nth-child(2) {
  align-self: center;
}

.featured-in:nth-child(3) {
  align-self: flex-end;
}

.featured-in-rating {
  display: flex;
  align-items: center;
}

.icon-star {
  width: 1.9rem;
  height: 1.9rem;
  margin: 0.3rem;
}

.featured-in-text {
  font-size: 2.1rem;
}

/* Testimonials styling */

.testimonials-container {
  grid-column: 1/-1;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 30rem;
  height: 100%;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 5px;
  background-color: var(--color-primary-dark);
  padding: 4rem 3.5rem;
  flex: 1;
  font-weight: 500;
}

.testimonial:nth-child(1) {
  align-self: flex-start;
}

.testimonial:nth-child(2) {
  align-self: center;
}

.testimonial:nth-child(3) {
  align-self: flex-end;
}

.testimonial-customer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.testimonial-customer-image {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.testimonial-customer-name {
  color: var(--color-neutral-white);
  margin-bottom: 0.4rem;
  font-weight: 700;
  font-size: 1.7rem;
}

.testimonial-customer-caption {
  color: var(--color-primary-soft);
  font-size: 1.67rem;
  letter-spacing: px;
}

.testimonial-customer-review {
  color: var(--color-neutral-white);
  font-size: 1.75rem;
  line-height: 1.4;
}

/* MEDIA QUERIES */

/* BELOW 544px (Phones)  */
@media (max-width: 34em) {
  .content {
    background: url("/images/bg-pattern-top-mobile.svg") left top
        no-repeat,
      url("/images/bg-pattern-bottom-mobile.svg") right bottom
        no-repeat;
  }

  .section-social-proof {
    grid-template-columns: 1fr;
    padding: 6rem 3rem 6rem 3rem;
  }

  .text-box-container {
    align-items: center;
    text-align: center;
  }

  .text-box-heading {
    font-size: 5rem;
  }

  .featured-in-container {
    max-width: 100%;
  }

  .featured-in {
    max-width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .featured-in-text {
    font-size: 1.8rem;
  }

  .testimonial {
    flex: 0 1 auto;
  }
}

footer {
  background-color: chocolate;
}

.attribution {
  font-size: 2rem;
  color: cornflowerblue;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
